.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.mainContainer {
  padding: 1rem;
  flex: 1 0 auto;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
