@use "./Variables.module.scss" as var;

.badgeChip {
  padding-left: 0.35rem;

  &[data-badge="vip"] {
    background-color: rgb(255, 152, 240);
  }

  &[data-badge="event"] {
    background-color: rgb(152, 255, 250);
  }

  &[data-badge="gopher"] {
    background-color: rgb(255, 191, 191);
  }

  &[data-badge="press"] {
    background-color: rgb(203, 255, 203);
  }

  &[data-badge="committee"] {
    background-color: rgb(211, 178, 255);
  }

  &[data-badge="guest"] {
    background-color: rgb(255, 244, 82);
  }
}

.filterInput {
  align-items: center;
  display: flex;

  button {
    margin-left: 0.5rem;
  }
}

.happeningEventsList {
  overflow-x: scroll;
  padding: 1rem;

  > div {
    gap: 1rem;
    display: inline-flex;
    justify-content: flex-start;
  }
}

.paperTitle {
  color: var.$primary;
  font-weight: 700;
}

.noPad {
  padding: 0px;

  &:last-child {
    padding-bottom: 0px;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
